# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Go sum
go.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/

*.a
*.log
*.exp
*.lib
*.syso

# go 1.25.9 之后，会自动生成.h文件，所以这个文件也不再作为项目资产
*.h